body {
  text-align: center;
  font-family: Helvetica, sans-serif;
}

.is-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.field-template {
  max-width: 30%;
}

.grid-game {
  display: flex;
  justify-content: center;
}

.grid-square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 34px;
  font-weight: bold;
  line-height: 44px;
  height: 44px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 44px;
}

.response-is-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.trivia-is-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.configuration-is-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}