{{ define "configuration" }}
<fieldset>
  <legend>Grid Configuration</legend>

  <form>
    <label for="config-size" class="configuration-is-flex">Grid Size:
      <input type="number" name="dim" id="config-size" value="{{ .Config.Dim }}"/>
    </label>

    <br/>

    <div class="configuration-is-flex">
      <span id="config-neighborhood-label">Pattern:</span>
      <div role="group" aria-labelledby="config-neighborhood-label">
        {{ $temp := .Config.ToggleSequence }}

        {{ range $idx, $val := .Config.AvailableToggleSequence }}
          <label for="config-neighborhood-{{ $val }}">{{ $val }}</label><input type="checkbox" name="neighborhood" value="{{ $val }}" id="config-neighborhood-{{ $val }}"
          {{ if index $temp $idx }} checked {{ end }}/>
        {{ end }}
      </div>
    </div>

    <br/>

    <label for="config-cheat" class="configuration-is-flex">Enable Cheat:
      <input type="checkbox" name="cheat" id="config-cheat" value="1"
      {{ if .Config.Cheat }} checked {{ end }}/>
    </label>

    <br/>

    <button type="button" hx-post="/reset" hx-target="#goSwitch">Reset (with config)</button>
  </form>
</fieldset>
{{ end }}