{{ define "configuration" }}
<fieldset>
  <legend>Grid Configuration</legend>

  <form>
    <label for="size" class="configuration-is-flex">Grid Size: 
      <input type="number" name="dim" id="config-size" value="{{ .Config.Dim }}"/>
    </label>

    <br/>

    <label for="neighbors" class="configuration-is-flex">Pattern:
      <div>
        {{ $temp := .Config.ToggleSequence }}

        {{ range $idx, $val := .Config.AvailableToggleSequence }}
          {{ $val }}<input type="checkbox" name="neighborhood" value="{{ $val }}"
          {{ if index $temp $idx }} checked {{ end }}/>
        {{ end }}
      </div>
    </label>

    <br/>

    <label for="size" class="configuration-is-flex">Enable Cheat: 
      <input type="checkbox" name="cheat" id="config-cheat" value="1"
      {{ if .Config.Cheat }} checked {{ end }}/>
    </label>

    <br/>

    <button hx-post="/reset" hx-target="#goSwitch">Reset (with config)</button>
  </form>
</fieldset>
{{ end }}