{{define "gridConfiguration"}}
<fieldset>
  <legend>Grid Configuration</legend>
  <form target="hiddenFrame">
    <label for="size">Grid Size: 
      <input type="number" name="dim" id="size" value="3"/>
    </label>

    <br/>

    <label for="neighbors">Pattern: 
      0<input type="checkbox" name="neighborhood" id="neighbors0" value="0" checked/>
      4<input type="checkbox" name="neighborhood" id="neighbors4" value="4" checked/>
      8<input type="checkbox" name="neighborhood" id="neighbors8" value="8"/>
    </label>

    <br/>

    <input hx-post="/reset" type="submit" value="Reset" hx-swap="none"/>
  </form>
</fieldset>
{{end}}