{{ define "game" }}
{{ template "status-header" . }}

{{ if .Expired }}
<p class="notice">SYSTEM MESSAGE: Your previous session expired -- starting fresh.</p>
{{ end }}

<div class="is-flex">
  <div id="game-configuration" class="field-template">
    {{ template "configuration" . }}
  </div>

  <div id="game-trivia" class="field-template">
    {{ template "trivia" . }}
  </div>

  <div class="field-template">
    {{ template "response" . }}
  </div>
</div>

{{ if .Win }}
<p class="win-banner">YOU WIN</p>
{{ end }}

<div class="game-canvas" data-win="{{ .Win }}">
  {{ template "grid" . }}
</div>
{{ end }}
