{{ define "index" }}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>goSwitch</title>
    <meta name="description" content="Switch puzzle game web app written in JS / HTMX and GO.">
    <meta name="author" content="Luraminaki">

    <meta property="og:title" content="goSwitch">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Switch puzzle game web app written in JS / HTMX and GO.">

    <link rel="icon" href="./favicon.ico">

    <link rel="stylesheet" href="./assets/style.css">

    <script defer src="./assets/htmx.min.js"></script>
    <script defer src="./assets/sse.min.js"></script>
  </head>

  <body id="goSwitch" {{ if .Waiting }}hx-ext="sse" sse-connect="/wait" sse-swap="ready" sse-close="ready"{{ end }}>
    {{ if .Waiting }}
      {{ template "waiting" . }}
    {{ else }}
      {{ template "game" . }}
    {{ end }}
  </body>

</html>
{{ end }}